

<form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
    <h1>Register Now</h1>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
        
      <div class="col">
        
        <div class="form-outline">
          <input 
          type="text"
           id="form3Example1" 
           class="form-control"  
           placeholder="First name"
           name="firstName"
           formControlName="firstName"
           />
           <div class="text-danger" *ngIf="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].invalid " >
            <span *ngIf="registerForm.controls['firstName']?.errors?.['required']">This field is required</span>
           </div>
                 
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form3Example2" class="form-control" placeholder="Last name"
          name="lastName"
          formControlName="lastName"
          />
          <div class="text-danger" *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].invalid " >
            <span *ngIf="registerForm.controls['lastName']?.errors?.['required']">This field is required</span>

          </div>
         
</div>
        </div>
      </div>
    
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" placeholder="Email address" 
      name="email"
      formControlName="email"
      />
      <div  class="text-danger" *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid " >
        <span *ngIf="registerForm.controls['email']?.errors?.['required']">This field is required</span>
        <span *ngIf="registerForm.controls['email']?.errors?.['pattern']">This email is invalid</span>
      </div>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form3Example4" class="form-control" placeholder="Password"
      name="password"
      formControlName="password"
      />
      <div class="text-danger" *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid " >
        <span *ngIf="registerForm.controls['password']?.errors?.['required']">This field is required</span>
        <span *ngIf="registerForm.controls['password']?.errors?.['pattern']">
          password must have at least 8 characters , contains at least one lowercase ,
           one uppercase ,
            one digit 
          and one special character
        </span>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="registerForm.invalid">Sign up</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>or sign up with:</p>
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-secondary btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
